/* Styles for the navbar */
.navbar {
    background-color: #333;
  }
  
  .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item .nav-link {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-nav .nav-item .nav-link:before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: right center;
  }
  
  .navbar-nav .nav-item .nav-link:hover:before,
  .navbar-nav .nav-item .nav-link:focus:before {
    transform: scaleX(1);
    transform-origin: left center;
  }
  